*.ai
*.eps
*.pdf
*.psd
*.pyc
*.pyc
*.sublime-project
*.sublime-workspace
*.tif
*.zip
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.jsbeautifyrc
.pnp.js
/.pnp
/build
/coverage
/node_modules
__pycache__
npm-debug.log*
yarn-debug.log*
yarn-error.log*